*{
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
#navigation{
    position: relative;
}
h1{
    color: rgb(179,52,61);
    font-weight: bolder;
}
.row a{
    text-decoration: none;
    padding: 8px;
    color: wheat;
    transition: .6 ease-in-out;
}
.row a:hover{
    background-color:  rgb(179,52,61);
    color: white;
    padding: 20px;
    border-radius: 20px;
}
#ceremonyx{
    background: url("img/map.gif.crdownload");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
}
.ceremonyx h1{
    padding: 20px;
}


.head{
    margin-top: 50px;
    list-style: none;
    padding: 50px;
    
    /* background-color: aquamarine; */
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;   
    
}
body{
    background-image: url("img/kid.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto; 
    
}

/* end of Navigation */


#paragraph{
    color: white;
    padding: 30px;
    font-size: 20px;
    
}
#paragraph:hover{
    color:wheat;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-image: url("img/kid.jpg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
 
   
    
}
span{
    color:  rgb(179,52,61);
    font-size: 30px;
}
#disp{
    display: flex;
    justify-content: space-evenly;
}
.flex{
    display: flex;
}
#flex{
    display: flex;
}
   
    

.flex0 img{
    width: 400px;
    height: 500px;
    border-radius: 30px;
    
}
.box{
    padding-top: 40px;
}
.ceremony img{
  border-radius: 30px;
}
#fl{
    width: 50%;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
  
}
#fl:hover{
  
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
  
}
#fl h3{
    color: bisque;
    font-size: 40px;
    padding-left: 30px;
}
#content h1{
    padding: 50px;
    padding-left: 40%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50px;
}
#fl ol li{
    color: bisque;
}