*{
    text-decoration: none;
    list-style: none;
}
.row a{
    text-decoration: none;
    padding: 8px;
    color: wheat;
    transition: .6 ease-in-out;
}
.row a:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.head{
    margin-top: 50px;
    list-style: none;
    padding: 50px;
    
    /* background-color: aquamarine; */
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    
}
body{
    background-image: url("img/lo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px; 
    
    
}